python/__pycache__
python/.ipynb_checkpoints/*
python/mlruns/*
python/arxive_metadata/__pycache__
python/.vscode/launch.json
.vscode/settings.json
python/processing_pipeline/.ipynb_checkpoints/*
python/processing_pipeline/__pycache__/*